#test * {
    font-family: "Comic Sans MS", sans-serif;
}
ul {
    font-size: 22px; font-weight: bold;
    font-size: 22px; font-weight: bold;
}
ul::before {
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
    border: 2px solid magenta; height: 5px; width: 10px; content: "Magenta";
}
ul:hover::before {
    background-color: yellow;
}
ul::after {
    height: 10px; width: 50px; color: red; content: "Yellow"; background-color: blue;
    height: 10px; width: 50px; color: red; content: "Yellow"; background-color: blue;
    height: 10px; width: 50px; color: red; content: "Yellow"; background-color: blue;
    height: 10px; width: 50px; color: red; content: "Yellow"; background-color: blue;
    height: 10px; width: 50px; color: red; content: "Yellow"; background-color: blue;
}
ul:hover::after {
    width: 100px; background-color: yellow;
    width: 100px; background-color: yellow;
}
li {
    font-size: 16px; font-weight: normal; cursor: default;
    font-size: 16px; font-weight: normal; cursor: default;
    font-size: 16px; font-weight: normal; cursor: default;
}
li.active {
    text-decoration: underline; border-top-style: groove;
    text-decoration: underline; border-top-style: groove;
}
li:hover {
    color: darkred;
}
#test :not(.active) {
    font-family: Calibri, Courier, sans-serif;
}
ul,ol {
    font-style: oblique;
}
li {
    cursor: pointer !important;
}
@media (min-width: 769px) {
    li.active {
        text-decoration: underline; background-color: orange;
        text-decoration: underline; background-color: orange;
    }
    li:hover {
        color: darkred; background-color: yellow;
        color: darkred; background-color: yellow;
    }
}