#test *:not(.active) {
    font-family: "Calibri", Courier, sans-serif;
}
ul, ol {
    font-style: oblique;
}
li {
    cursor: pointer !important;
}
@media (min-width: 769px){
    li.active {
        text-decoration: underline;
        background-color: orange;
    }
    li:hover {
        color: darkred;
        background-color: yellow;
    }
}